JWT_KEY=YOUR_LONG_ENCRYPTED_JWT_KEY

SQL_CONNECTION_STRING_DOCKER=Server=sqlserver,1433;Database=ChineseAuctionDB;User ID=sa;Password=YOUR_SQL_PASSWORD;TrustServerCertificate=True;Encrypt=False;
SQL_PASSWORD=YOUR_SQL_PASSWORD

REDIS_PASSWORD=YOUR_REDIS_PASSWORD
